.button {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-background-radius: 15;

    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20;
}

.button:hover{
    -fx-background-color: rgba(255, 255, 255, 1);
}

.icon {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-background-radius: 15;

    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20;
}

.time {
    -fx-background-image: url('../icons/time.png');
}

.background {
    -fx-background-color: transparent;
    -fx-background-radius: 20;
}

.background:hover {
    -fx-background-color: white;
}