.button {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}

.button-today {
    -fx-background-color: #FF6961;
}

.button-today:hover {
    -fx-background-color: #FF6961;
}

.button-selected {
    -fx-background-color: lightblue;
}

.button-selected:hover {
    -fx-background-color: lightblue;
}

.button-today.button-selected {
    -fx-background-color: #FF6961;
}
